/* BUTTONS */
.button {
    display: inline-block;
    background-color:#C1A676;
    color: #743B1B;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
    margin: 1em .5em 1em 0;

    &:hover {
        color: #fff;
        background-color: $color-link-darker;
    }
}

