// TO HIDE SOMETHING VISUALLY
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;

}

/* CARDS */ 
.card-width {
  .row {
    margin: 0;
    justify-content: space-between;
  }

  .one-third,
  .two-thirds {
    margin: 2em 0;
  }

  .one-third {
    margin-left: 1em;
  }

  .two-thirds {
    // margin-right: 0;
  }
}

/* HR LINE */ 
hr {
  border: 1px solid $color-yellow;
}

.vl {
  border-left: 2px solid $color-yellow;
  height: 5em;
}

.centered-line {
  display: flex;
  justify-content: center;
}


/* CONTACT FORM */ 
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
  
input[type=submit] {
  margin: 0;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-yellow;
  color: $color-red;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $color-yellow;  
  box-shadow: 0 4px 8px 0 rgb(37, 37, 37);
}

.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}

/* SWIPER */
.swiper-slide {
  // max-width: 371px;
}

.ccm-card {
  background-color: #EBEBEB;
  padding: 2em;
  // max-width: 371px;
  min-height: 575px;

  h4 {
    padding-top: 1em;
    display: grid;
    justify-content: center;
    color: #2D1A10;
  }
}

.ccm-card-content {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


/* TIMELINE */ 
.time-title {
  color: #2D1A10;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: $color-yellow;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.content-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.content-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #743B1B;
  border: 4px solid $color-yellow;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid transparent;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  border: 1px solid #EBEBEB;
  border-color: #EBEBEB;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
/* HOME */ 