// TO HIDE SOMETHING VISUALLY
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;

}

/* CONTACT FORM */ 
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
      display: grid;
      justify-content: center;
      align-items: center;
    background-color: $color-yellow;
    color: $color-red;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: $color-yellow;  
    box-shadow: 0 4px 8px 0 rgb(37, 37, 37);
  }
  
  .container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
  }

/* SWIPER */
.swiper-container {
  position:relative;
  width: 371px;
  height: 531.61px;
}
.swiper-container > .swiper-slide__content {
position:absolute;
top:0;
}

.swiper-slide {
height: 531.61px;
display:flex;
background: #EBEBEB;
align-items: center;
justify-content:center;
transition:all 200ms linear;
transform: scale(0.8);

  &.swiper-slide-active{
    transform: scale(1);
    background: #fc0
  }

  h4 {
    color: #2D1A10;
  }
}
.swiper-slide__content {
height: 1em;
}

.swiper-button-prev {
  cursor: pointer;
  background-image: url('/img/swiper-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  position: absolute;
  top: 25%;
  left: -10px;
  width: 39.5px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
}

.swiper-button-next {
  cursor: pointer;
  background-image: url('/img/swiper-button-next.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  position: absolute;
  top: 25%;
  left: 4px;
  width: 39.5em;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
}
