// TO HIDE SOMETHING VISUALLY
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;

}

/* CARDS */ 
.card-width {
  .row {
    margin: 0;
    justify-content: space-between;
  }

  .one-third,
  .two-thirds {
    margin: 2em 0;
  }

  .one-third {
    margin-left: 1em;
  }

  .two-thirds {
    // margin-right: 0;
  }
}

/* HR LINE */ 
hr {
  border: 1px solid $color-yellow;
}

/* CONTACT FORM */ 
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
      display: grid;
      justify-content: center;
      align-items: center;
    background-color: $color-yellow;
    color: $color-red;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: $color-yellow;  
    box-shadow: 0 4px 8px 0 rgb(37, 37, 37);
  }
  
  .container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
  }

/* SWIPER */
.swiper-slide {
  // max-width: 371px;
}

.ccm-card {
  background-color: #EBEBEB;
  padding: 2em;
  // max-width: 371px;
  min-height: 575px;

  h4 {
    padding-top: 1em;
    display: grid;
    justify-content: center;
    color: #2D1A10;
  }
}

.ccm-card-content {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


/* TIMELINE */ 
.text{
  display: inline-flex;
  font-size: 1em;  
}

.time{
  display: inline-flex;
}

.time__month{
  margin-left: var(--timelineMounthMarginLeft, .25em);
}

.time{
  padding: var(--timePadding, .25rem 1.25rem .25rem);
  background-color: var(--timeBackgroundColor, #EBEBEB);

  font-size: var(--timeFontSize, .75rem);
  font-weight: var(--timeFontWeight, 700);
  text-transform: var(--timeTextTransform, uppercase);
  color: var(--timeColor, currentColor);
}

.card{
  padding: 2em 1.5em 1.25em;
}

.card__content{
  margin-top: var(--cardContentMarginTop, 1em);
}

.card__title{
  --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
  font-size: var(--cardTitleFontSize, 1.25rem);
}

/*=====CORE STYLES=====*/

.timeline{
  display: var(--timelineDisplay, grid);
  grid-row-gap: var(--timelineGroupsGap, 2rem);
}

/*1. If timeline__year isn't displaed the gap between it and timeline__cards isn't displayed too*/

.timeline__year{
  margin-bottom: 1.25rem; /* 1 */
}

.timeline__cards{
  display: grid;
  grid-row-gap: 1.5em;
}


/*=====SKIN=====*/

.timeline{
  --uiTimelineMainColor: var(--timelineMainColor, #222);

  border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.timeline__year{
  --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
  --timeColor: var(--uiTimelineSecondaryColor);
  --timeBackgroundColor: var(--uiTimelineMainColor);
  --timeFontWeight: var(--timelineYearFontWeight, 400);
}

.timeline__card{
  position: relative;
  margin-left: 1em;
}

/*1. Stoping cut box shadow*/

.timeline__cards{
  overflow: hidden;
  padding-top: .25rem; /* 1 */
  padding-bottom: 3em; /* 1 */
}

.timeline__card::before{
  content: "";
  width: 100%;
  height: var(--timelineCardLineWidth, 2px);
  background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));

  position: absolute;
  top: var(--timelineCardLineTop, 1rem);
  left: -50%;
  z-index: -1;
}

/*=====SETTINGS=====*/
/**/
.timeline{
  --timelineMainColor: #C1A676;
}

/*=====DEMO=====*/
.timeline__year {
  font-family: $font-family-serif;
}

.color-yellow2 {
  color: $color-yellow2;
  margin-right: .5em;
}

.timeline p,
.time__month {
  font-family: $font-family-sans;
  color: #222;

  background-color: #EBEBEB;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

p:last-child {
  margin-bottom: 0;
}

.page {
  display: flex;
  justify-content: center;
}