body {
    background-color: #743B1B;
}

/* SITE STRUCUTURE */ 
.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: transparent;
    
    a {
        color: white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
        text-transform: uppercase;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 40px;
        margin-right: .5em;
    }

    h4 {
        max-width: 18vw;
    }

    /* MIN-WIDTH FOR COMPANY NAME */ 
    @media (max-width: 768px) {
        h4 {
            max-width: 20vw;
        }
    }
}

.section-title {
    margin-top: 1em;

    p {
        margin: 1em;
        display: flex;
        align-items: center;
    }
}

.stats {
    display: inline-block;
    text-align: center;

    h2, p {
        margin-top: 1em;
    }
}

.produce_sec {
    background-color: $color-yellow;
    border-radius: 2em;
    padding: 5em 1em 5em 1em;

    h3 {
        font-size: 1.3em;
    }
}

/* SITE FOOTER */ 
.site-footer {
    background-color: #743B1B; 
    display: flex;
    padding: 1em;
    justify-content: center;

    ul {
        display: inline-block;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

/* HERO SECTION */
.hero {
    color: white;
    text-align: center;
    padding: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;

    h1 {
        color: white;
        margin-bottom: .25em;
        font-size: 2.5em;
    }

    p {
        font-size: 1.1em;
        max-width: 1500px;
    }

    img {
        width: 100%;
    }
}

/* CONTENT */ 
.small-text {
    color: $color-yellow;
    text-align: center;
}

/* OUR MISSION */ 
.container { 
    .tagline {
        margin-bottom: 5em;
        text-align: center;

        h3 {
            display: flex;
            justify-content: center;
        }

        .small-text {
            display: grid;
            text-align: center;
        }
    }
}

/* ON AVERAGE */ 
.average_illustration {

    h2, p {
        display: flex;
        text-align: center;
    }
}